/*base styles*/
#cookie-notification {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f58323;
    z-index: 999999;
    min-height: 500px;
    transition: min-height 0.5s;
    overflow-y: auto;
}

#cookie-notification .fas {
    margin-right: 10px;
}

#cookie-notification.compact {
    min-height: 300px;
}

#cookie-notification .cookie-notice {
    width: 80%;
    min-width: 300px;
    min-height: 200px;
    margin: auto;
    padding: 40px 0 40px;
    color: #fff;
}

/*cookie options styles*/
#cookie-notification .cookie-options {
    width: 1024px;
    min-width: 300px;
    min-height: 400px;
    margin: auto;
    padding: 40px 0 40px;
    color: #fff;
    position: relative;
    display: none;
}

#cookie-notification .options-nav {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

#cookie-notification .options-content {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 0 20px;
}

#cookie-notification .nav-item {
    display: block;
    padding: 10px 20px;
    min-width: 150px;
}

#cookie-notification .nav-item.selected {
    color: #f58323;
    background-color: #fff;
    border-radius: 2px;
}

#cookie-notification .content-item {
    display: none;
}

#cookie-notification .content-item.selected {
    display: block;
}

#cookie-notification .content-item .option-notice {
    margin-bottom: 40px;
}

#cookie-notification .content-item .cookie-list {
    list-style: none;
    padding: 0;
}

/*button styles*/
#cookie-notification .actions {
    width: 600px;
    bottom: 0;
    margin: 0 auto 40px;
    text-align: center;
}

#cookie-notification .actions .button {
    color: #fff;
    margin: 0px 20px;
}

#cookie-notification .actions .button:after {
    background-color: #fff;
}

#cookie-notification .actions .button:hover a {
    color: #f58323;
}

#cookie-notification.compact .button.accept-essential {
    display: none;
}

#cookie-notification .actions .options {
    display: none;
}

#cookie-notification.compact .actions .options {
    display: inline-block;
}

#cookie-notification .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}

/*responsive styles*/
@media only screen and (max-width: 1024px) {
    #cookie-notification {
        max-height: 100vh;
    }

    #cookie-notification .cookie-options {
        width: 100%;
    }

    #cookie-notification .options-nav {
        display: block;
        width: 90%;
        margin: 0 auto 40px;
    }

    #cookie-notification .options-content {
        display: block;
        width: 90%;
        margin: auto;
        padding: 0;
    }

    #cookie-notification .actions {
        width: 300px;
    }

    #cookie-notification .actions .button {
        display: block;
        width: 90%;
    }

    #cookie-notification .actions .options {
        display: none;
    }
}