/*base styles*/
#cookie-notification {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f58323;
    z-index: 999999;
    min-height: 600px;
    transition: min-height 0.5s;
}

#cookie-notification .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
}

#cookie-notification .cookie-notice, #cookie-notification .cookie-options {
    width: 80%;
    min-width: 200px;
    margin: auto;
    padding: 40px 0 100px;
    color: #fff;
}

#cookie-notification .cookie-options {
    display: none;
}

#cookie-notification .cookie-options .cookie-table {
    display: none;
}

#cookie-notification .cookie-options .cookie-table.selected {
    display: block;
}

#cookie-notification.compact {
    min-height: 300px;
}

#cookie-notification.compact .button.accept-essential {
    display: none;
}

#cookie-notification .cookie-types-selector {
    text-align: center;
    margin-top: 40px;
}

#cookie-notification .cookie-types-selector .cookie-type {
    display: inline-block;
    width: 220px;
    cursor: pointer;
}

#cookie-notification .cookie-types-selector .cookie-type.selected {
    color: #f58323;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    padding: 5px 10px;
}

/*table*/
#cookie-notification .cookie-table table {
    width: 445px;
    margin: auto;
    border: 2px solid #fff;
}

#cookie-notification .cookie-table table th {
    padding: 10px 20px;
}

/*button styles*/
#cookie-notification .actions {
    width: 600px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#cookie-notification .actions .button {
    color: #fff;
    margin: 0px 5px 40px;
}

#cookie-notification .actions .button:after {
    background-color: #fff;
}

#cookie-notification .actions .button:hover a {
    color: #f58323;
}

#cookie-notification .actions .options {
    display: none;
}

#cookie-notification.compact .actions .options {
    display: inline-block;
}

#cookie-notification .close {
    cursor: pointer;
}